<!-- Start content -->
<div class="content">
    <div class="container">

        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <h4 class="page-title">Published Events</h4>
                <ol class="breadcrumb">
                    <li><a href="#/">Wain013</a>
                    </li>
                    <li><a href="#/Events/list">Events</a>
                    </li>
                    <li class="active">Published Events</li>
                </ol>
            </div>
        </div>
        <link href="assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">
        <div class="row">
            <div class="col-md-3">
                <form role="form">
                    <div class="form-group contact-search m-b-30">
                        <input type="text" id="search" class="form-control" placeholder="Search..." ng-model="search">
                        <button type="submit" class="btn btn-white"><i class="fa fa-search"></i>
                        </button>
                    </div>
                    <!-- form-group -->
                </form>
            </div>

            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="yyyy-mm-dd" ng-model="searchDate" id="datepicker-autoclose">
            </div>
            <div class="col-md-6">
                <a href="" class="btn btn-default btn-md waves-effect waves-light m-b-30 pull-right" data-animation="fadein" data-plugin="custommodal" data-overlaySpeed="200" data-overlayColor="#36404a" ng-click="createEvent()">
                    <i class="md md-add"></i> Add New</a>
                <!--<div class="h5 m-0">-->
                    <!--<span class="vertical-middle">Filter By:</span>-->
                    <!--<div class="btn-group vertical-middle" data-toggle="buttons">-->

                        <!--<label class="btn btn-white btn-md waves-effect" ng-click="myLanguage('')">-->
                            <!--<input type="radio" autocomplete="off">All-->
                        <!--</label>-->
                        <!--<label class="btn btn-white btn-md waves-effect" ng-click="myLanguage(1)">-->
                            <!--<input type="radio" autocomplete="off">Arabic-->
                        <!--</label>-->
                        <!--<label class="btn btn-white btn-md waves-effect" ng-click="myLanguage(2)">-->
                            <!--<input type="radio" autocomplete="off">English-->
                        <!--</label>-->
                    <!--</div>-->
                <!--</div>-->

            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-4" ng-repeat="x in events ">
                    <!-- blog content -->
                    <div class="blog-box-one" ng-init = "eventUrl = '/#/events/show/' + x.id">
                        <div class="cover-wrapper">
                            <a href="{{eventUrl}} ">
                                <img alt="Blog-img" src="assets/images/blogs/5.jpg" class="img-responsive">
                            </a>
                        </div>
                        <div class="post-info" >
                            <div class="date">
                                <span class="day">{{ x.date  | date: 'DD'}}</span>
                                <br>
                                <span class="month">{{ x.date  | date: format :'MMM'}}</span>
                            </div>

                            <div class="meta-container" >
                                <a ng-href="{{eventUrl}}">
                                    <h4 class="text-overflow m-t-0">{{ x.title.arabicTitle }}</h4>
                                    <h4 class="text-overflow m-t-0">{{ x.title.englishTitle }}</h4>
                                </a>
                                <div class="font-13">
                                    <span class="meta">Posted by <a href="#"><b>{{ x.host }}</b></a></span>
                                </div>
                            </div>

                            <p class="text-muted m-b-0">
                                {{ x.description.arabicDescription }} |
                                {{ x.description.englishDescription }}
                            </p>

                            <div class="rating">
                                <ul class="list-inline">
                                    <li><a class="fa fa-star" href=""></a></li>
                                    <li><a class="fa fa-star" href=""></a></li>
                                    <li><a class="fa fa-star" href=""></a></li>
                                    <li><a class="fa fa-star" href=""></a></li>
                                    <li><a class="fa fa-star-o" href=""></a></li>
                                </ul>
                            </div>

                            <a href="{{eventUrl}}" class="btn btn-sm waves-effect btn-white">Read More</a>
                            <a href="" ng-click="invokeEditPanel(x)" class="removebtn btn btn-sm waves-effect btn-white">Edit</a>
                            <a href="" ng-click="delete(x.id)" class="removebtn btn btn-sm waves-effect btn-white">Remove</a>
                        </div>

                    </div>
                    <!-- end blog -->
                </div>
            </div>
            <!-- end col -->
        </div>
    </div>
    <!-- container -->
</div>
<!-- content -->

<!-- Modal -->
<div id="custom-modal" class="modal-demo">
    <button type="button" class="close" onclick="Custombox.close();">
        <span>&times;</span><span class="sr-only">Close</span>
    </button>
    <h4 class="custom-modal-title">Add New</h4>
    <div class="custom-modal-text text-left">
        <form role="form">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Enter name">
            </div>

            <div class="form-group">
                <label for="position">Category</label>
                <input type="text" class="form-control" id="position" placeholder="Enter category">
            </div>

            <div class="form-group">
                <label for="position1">Contact number</label>
                <input type="text" class="form-control" id="position1" placeholder="Enter number">
            </div>


            <button type="submit" class="btn btn-default waves-effect waves-light">Save</button>
            <button type="button" class="btn btn-danger waves-effect waves-light m-l-10">Cancel</button>
        </form>
    </div>
</div>

<div class="editOverlay" ng-show="showEditPanel"></div>
<div class="editPanel" ng-show="showEditPanel">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">Edit Event</h4>
        </div>
    </div>
    <div class="form-group">
        <!--    <div class="form-group">
                <label>Language    </label>
                    <select name="language" class="selectpicker show-tick" data-style="btn-white" ng-model="articleToEdit.newLanguage">
                                        <option value="1" selected=selected>Arabic</option>
                                        <option value="2">English</option>
                                    </select>
            </div>-->
        <div class="editInputBox">
            <label>Title</label>
            <input type="text" ng-model="eventToEdit.newTitle">
        </div>
        <div class="editInputBox">
            <label>Text</label>
            <textarea class="textarea" ng-model="eventToEdit.newBody"></textarea>
        </div>
        <div>
            <button id="editEvent" class="btn btn-primary waves-effect waves-light" ng-click="editEvent()">Edit</button>
            <button class="btn btn-primary waves-effect waves-light" ng-click="cancel()">Cancel</button>
        </div>
    </div>
    <script src="assets/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

    <script>
        jQuery(document).ready(function () {


            jQuery('#datepicker-autoclose').datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'yyyy-mm-dd'
            });
        });
    </script>
</div>