<!-- START PAGE-CONTAINER -->
<div class="login-wrapper ">
    <!-- START Login Background Pic Wrapper-->
    <div class="bg-pic">
        <!-- START Background Pic-->
        <img src="assets/img/demo/bg_1.png" data-src="assets/img/demo/bg_1.png" ui-jq="unveil" data-src-retina="assets/img/demo/bg_1.png" alt="" class="lazy">
        <!-- END Background Pic-->
        <!-- START Background Caption-->
        <div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
            <h2 class="semi-bold text-white">
          <b>Wain013</b> Enjoy what matters the most in the life.</h2>
            <p class="small no-margin pull-left sm-pull-reset">
                <span class="hint-text">Copyright © 2016</span>
                <span class="font-montserrat">Wain013</span>.
                <span class="hint-text">All rights reserved.</span>
            </p>
        </div>
    </div>
    <div class="login-container bg-white">
        <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
            <img src="assets/img/logo.png" alt="logo" data-src="assets/img/logo.png" ui-jq="unveil" data-src-retina="assets/img/logo_2x.png" width="78" height="22">
            <p class="p-t-35">Sign into your wain account.</p>
            <!-- START Login Form -->
            <form id="form-login" name="login" class="p-t-15" role="form" novalidate>
               <label class="error">{{ error }}</label>
                <!-- START Form Control-->
                <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : login.email.$invalid && !login.email.$pristine }">
                    <label>Login</label>
                    <div class="controls">
                        <input type="text" name="username" placeholder="User Name" class="form-control" ng-model="email" required>
                    </div>
                </div>
                <label class="error" for="username" ng-show="login.email.$invalid && !login.email.$pristine">This field is required.</label>
                <!-- END Form Control-->
                <!-- START Form Control-->
                <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : login.password.$invalid && !login.password.$pristine }">
                    <label>Password</label>
                    <div class="controls">
                        <input type="password" class="form-control" name="password" placeholder="Credentials" ng-model="password" required>
                    </div>
                </div>
                <label class="error" for="password" ng-show="login.password.$invalid && !login.password.$pristine">This field is required.</label>
                <!-- START Form Control-->
                <div class="row">
                    <div class="col-md-6 no-padding">
                        <div class="checkbox ">
                            <input type="checkbox" value="1" id="checkbox1">
                            <label for="checkbox1">Keep Me Signed in</label>
                        </div>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="" class="text-info small hidden">Help? Contact Support</a>
                    </div>
                </div>
                <!-- END Form Control-->
                <button class="btn btn-primary btn-cons m-t-10" type="submit" ng-click="signin()" ng-disabled="login.$invalid">Sign in</button>
            </form>
            <!--END Login Form-->
            <div class="pull-bottom sm-pull-bottom">
                <div class="m-b-30 p-r-80 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
                    <!--<div class="col-sm-3 col-md-2 no-padding">
                        <img alt="" class="m-t-5" data-src="assets/img/demo/pages_icon.png" ui-jq="unveil" data-src-retina="assets/img/demo/pages_icon_2x.png" height="60" src="assets/img/demo/pages_icon.png" width="60">
                    </div>-->
                    <div class="col-sm-12 no-padding m-t-10">
                       <p class="small no-margin pull-right sm-pull-reset">
                    <span>Hand-crafted by </span>
                    <a href="http://indielabs.sa">indielabs, Inc. </a>
                    <span class="hint-text">&amp; Made with Love ®</span>
            </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END Login Right Container-->
</div>
<!-- END PAGE CONTAINER -->