<!-- Start content -->
<div class="content">
    <div class="container">

        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <h4 class="page-title">Create New Artical</h4>
                <ol class="breadcrumb">
                    <li><a href="#">Wain013</a></li>
                    <li><a href="#">Articals</a></li>
                    <li class="active">Create New Artical</li>
                </ol>
            </div>
        </div>


        <div class="row">
            <form method="post" class="form-horizontal group-border-dashed" action="#">
                <div class="col-sm-8">
                    <div class="card-box">

                        <div class="form-group">
                            <label class="col-sm-1 control-label">Language</label>
                            <div class="col-sm-8">
                                <select name="language" class="selectpicker show-tick" data-style="btn-white">
                                    <option>Arabic</option>
                                    <option>English</option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-1 control-label">Title</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" required id="titleName" placeholder="Title" />
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea id="elm1" name="area"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">Tags</label>
                            <div class="col-sm-11">
                                <select multiple data-role="tagsinput">
                                    <option value="Amsterdam">Amsterdam</option>
                                    <option value="Washington">Washington</option>
                                    <option value="Sydney">Sydney</option>
                                </select>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card-box">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Coverpage</label>
                            <div class="col-sm-8">
                                <input type="file" class="filestyle" data-buttontext="Select file" data-buttonname="btn-white">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Approved</label>
                            <div class="col-sm-8">
                                <input type="checkbox" data-plugin="switchery" data-color="#1AB394" data-secondary-color="#ED5565" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Publish</label>
                            <div class="col-sm-8">
                                <input type="checkbox" data-plugin="switchery" data-color="#1AB394" data-secondary-color="#ED5565" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-8">
                                <button id="addArticle" class="btn btn-primary">
                                    Submit
                                </button>
                                <button type="reset" class="btn btn-default m-l-5">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- End row -->




    </div>
    <!-- container -->

</div>

<link href="assets/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />
<link href="assets/plugins/switchery/dist/switchery.min.css" rel="stylesheet" />
<link href="assets/plugins/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet" />
<!--<script type="text/javascript">
    $(document).ready(function () {
        $('.selectpicker').selectpicker();
        $(":file").filestyle({
            input: false
        });

        var business = [
            {
                name: 'McDonalds'
            }
            , {
                name: 'Intel'
            }
            , {
                name: 'Apple'
            }
            , {
                name: 'Do-IT'
            }
            , {
                name: 'Nike'
            }
				];

        if ($("#elm1").length > 0) {
            tinymce.init({
                selector: "textarea#elm1"
                , theme: "modern"
                , height: 300
                , plugins: [
			                "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker"
			                , "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking"
			                , "save table contextmenu directionality emoticons template paste textcolor mention"
			            ]
                , toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | ltr rtl | bullist numlist outdent indent | l      ink image | print preview media fullpage | forecolor backcolor emoticons"
                , style_formats: [
                    {
                        title: 'Bold text'
                        , inline: 'b'
                    }
                    , {
                        title: 'Red text'
                        , inline: 'span'
                        , styles: {
                            color: '#ff0000'
                        }
                    }
                    , {
                        title: 'Red header'
                        , block: 'h1'
                        , styles: {
                            color: '#ff0000'
                        }
                    }
                    , {
                        title: 'Example 1'
                        , inline: 'span'
                        , classes: 'example1'
                    }
                    , {
                        title: 'Example 2'
                        , inline: 'span'
                        , classes: 'example2'
                    }
                    , {
                        title: 'Table styles'
                    }
                    , {
                        title: 'Table row 1'
                        , selector: 'tr'
                        , classes: 'tablerow1'
                    }
			            ]
                , mentions: {
                    delimiter: ['@', '#']
                    , source: function (query, process, delimiter) {
                        // Do your ajax call
                        // When using multiple delimiters you can alter the query depending on the delimiter used
                        if (delimiter === '@') {
                            process(business);
                        }
                        if (delimiter === '#') {

                            console.log(articlesArray)
                            process(articlesArray);
                        }
                    }
                }
            });
        }
    });
</script>-->