        <!-- START FOOTER -->
        <div class="container-fluid container-fixed-lg footer" ng-class="{'hidden': isActive(['/app/messages/inbox/','/app/messages/compose'])}">
            <div class="copyright sm-text-center">
                <p class="small no-margin pull-left sm-pull-reset">
                    <span class="hint-text">Copyright © 2016</span>
                    <span class="font-montserrat">Wain013</span>.
                    <span class="hint-text">All rights reserved.</span>
                </p>
                <p class="small no-margin pull-right sm-pull-reset">
                    <span>Hand-crafted by </span>
                    <a href="http://indielabs.sa">indielabs, Inc. </a>
                    <span class="hint-text">&amp; Made with Love ®</span>
                </p>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- END FOOTER -->