<style>
    .table.table-hover tbody tr:hover td {
        background: #f9f9f9 !important;
    }
    .ISSPONSERED {
        background: #f9f9f9;
        width: 25px;
        height: 25px;
        display: block;
        border-radius: 60%;
        position: relative;
        top: -22px;
        left: 40px;
        line-height: 20px;
        margin: 0;
        border: 2px solid #019019;
        text-align: center;
        vertical-align: middle;
        margin-bottom: -10px;
    }
    .checkbox input[type=checkbox][disabled] + label {
        opacity: 1;
        cursor: auto;
    }
</style>
<div ng-controller="BusinessListCtrl">
    <!-- START JUMBOTRON -->
    <div class="jumbotron" data-pages="parallax">
        <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
            <div class="inner">
                <!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                    <li> <a href="">Businesses</a> </li>
                    <li><a href="" class="active">All Businesses</a> </li>
                </ul>
                <!-- END BREADCRUMB -->
                <div class="row"> </div>
            </div>
        </div>
    </div>
    <!-- END JUMBOTRON -->
    <!-- END CONTAINER FLUID -->
    <!-- START CONTAINER FLUID -->
    <div class="container-fluid container-fixed-lg">
        <!-- START PANEL -->
        <div class="panel panel-transparent">
            <div class="panel-heading">
                <div class="panel-title">All Businesses</div>
                <div class="pull-right">
                    <div class="row">
                        <div class="col-md-4 col-xs-12"><input type="text" id="search" class="form-control"
                                                               placeholder="Search..." ng-model="search"></div>
                        <div class="col-md-6 col-xs-12">
                            <div class="btn-group" opt-kind="" ok-key="filter">
                                <button type="button" class="btn btn-default active" ng-click="status = {}">All</button>
                                <button type="button" class="btn btn-default" ng-click="status = {status:'PUBLISHED'}">
                                    Published
                                </button>
                                <button type="button" class="btn btn-default" ng-click="status = {status:'PENDING'}">
                                    Pending
                                </button>
                                <button type="button" class="btn btn-default" ng-click="status = {status:'SUSPENDED'}">
                                    Suspended
                                </button>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-12">
                            <button id="show-modal" class="btn btn-primary btn-cons" ng-click="redirect()"><i class="fa fa-plus"></i> Add Businesses</button>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover" id="basicTable">
                        <thead>
                            <tr>
                                <!-- NOTE * : Inline Style Width For Table Cell is Required as it may differ from user to user 
                                        Comman Practice Followed
                                        -->
                                <th>Image</th>
                                <th>Name</th>
                                <th>Owner</th>
                                <!--<th>isSponsered</th>-->
                                <th>Editor Pick</th>
                                <th>Categories</th>
                                <th>Tags</th>
                                <th>Status</th>
                                <th style="width:150px">OP</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key, item) in list | filter:search | filter:status">
                                <td class="v-align-middle">
                                    <div style="background: url('{{ item.cover.filename | image }}') center;background-size: cover;border-radius: 50%;height: 60px;width: 60px;"></div>
                                    <span class="ISSPONSERED" ng-show="item.isSponsored"><i class="fa fa-check"></i></span>
                                </td>
                                <td class="v-align-middle ">
                                    <p>{{item.name.english}}</p>
                                </td>
                                <td class="v-align-middle ">
                                    <p>{{item.owner.username}}</p>
                                </td>
                                <!--<td class="v-align-middle ">
                                    <p>{{item.isSponsored}}</p>
                                </td>-->
                                <td class="v-align-middle ">
                                    <div class="checkbox  checkbox-circle" ng-hide="item.editorPick">
                                        <input type="checkbox" checked="checked" value="1" id="checkbox7" disabled>
                                        <label for="checkbox7"></label>
                                    </div>
                                    <div class="checkbox check-primary checkbox-circle" ng-show="item.editorPick">
                                        <input type="checkbox" checked="checked" value="1" id="checkbox9" disabled>
                                        <label for="checkbox7"></label>
                                    </div>
                                </td>
                                <td class="v-align-middle ">
                                    <span class="tag label label-info" ng-repeat="item in item.categories" style="margin-left: 8px;">{{item.name.english}}</span>
                                </td>
                                <td class="v-align-middle ">
                                    <span class="tag label label-info" ng-repeat="item in item.tags[0].split(',')" style="margin-left: 8px;background-color: #f8d053;">{{item}}</span>
                                </td>
                                <td class="v-align-middle">
                                    <button style="background:{{item.status | color}};min-height: 35px;" class="btn" title="{{item.status}}"></button>
                                </td>
                                <td class="v-align-middle">
                                    <button ng-click="edit(item, key)" class="btn"><i class="fa fa-pencil"></i></button>
                                    <button class="btn" ng-click="alert(item)"><i class="pg-trash"></i></button>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END PANEL -->
    </div>
    <!-- END CONTAINER FLUID -->

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content-wrapper">
                <div class="modal-content">
                    <div class="modal-header clearfix text-left">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                        </button>
                        <h5>Delete Warning</h5>
                    </div>
                    <div class="modal-body">
                        <p class="no-margin">This will delete the item permanently.<br> Are you sure delete this item?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-cons  pull-left inline" ng-click="delete()">Yes</button>
                        <button type="button" class="btn btn-default btn-cons no-margin pull-left inline" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
</div>
