<style>
    .table.table-hover tbody tr:hover td {
        background: #f9f9f9 !important;
    }
</style>
<div ng-controller="BusinessOptionsCtrl">
    <!-- START JUMBOTRON -->
    <div class="jumbotron" data-pages="parallax">
        <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
            <div class="inner">
                <!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                    <li> <a href="">Businesses</a> </li>
                    <li><a href="" class="active">Options</a> </li>
                </ul>
                <!-- END BREADCRUMB -->
                <div class="row"> </div>
            </div>
        </div>
    </div>
    <!-- END JUMBOTRON -->
    <!-- END CONTAINER FLUID -->
    <!-- START CONTAINER FLUID -->
    <div class="container-fluid container-fixed-lg">
        <!-- START PANEL -->
        <div class="panel panel-transparent">
            <div class="panel-heading">
                <div class="panel-title">Businesses Options </div>
                <div class="pull-right">
                    <div class="col-xs-12">
                        <button id="show-modal" class="btn btn-primary btn-cons" ng-click="showModal()"><i class="fa fa-plus"></i> Add Option</button>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover" id="basicTable">
                        <thead>
                            <tr>
                                <!-- NOTE * : Inline Style Width For Table Cell is Required as it may differ from user to user 
                                        Comman Practice Followed
                                        -->
                                <th style="width:20%">English</th>
                                <th>Arabic</th>
                                <th style="width:150px">OP</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key, item) in eventsOptions">
                                <td class="v-align-middle ">
                                    <p>{{item.option.english}}</p>
                                </td>
                                <td class="v-align-middle">
                                    <p>{{item.option.arabic}}</p>
                                </td>
                                <td class="v-align-middle">
                                    <button ng-click="editModal(item, key)" class="btn"><i class="fa fa-pencil"></i></button>
                                    <button ng-click="delete(item)" class="btn"><i class="pg-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END PANEL -->
    </div>
    <!-- END CONTAINER FLUID -->
    <div class="modal fade stick-up ng-scope" id="addNewAppModal" tabindex="-1" role="dialog" aria-labelledby="addNewAppModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header clearfix ">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i> </button>
                    <h4 class="p-b-5"><span class="semi-bold">New</span> Option</h4> </div>
                <div class="modal-body">
                    <form role="form" class="ng-pristine ng-valid" ui-keypress="{13:'add()'}">
                        <div class="row">
                            <div class="col-sm-12">
                                <div pg-form-group="" class="form-group form-group-default">
                                    <label>English</label>
                                    <input id="addEnglishOption" type="text" ng-model="addEnglishOption" class="form-control" placeholder="Option in English"> </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div pg-form-group="" class="form-group form-group-default">
                                    <label>Arabic</label>
                                    <input id="addArabicOption" type="text" ng-model="addArabicOption" class="form-control" placeholder="Option in Arabic"> </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="add-app" type="button" class="btn btn-primary  btn-cons" ng-click="add()">Add</button>
                    <button type="button" data-dismiss="modal" class="btn btn-cons">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
        <!-- END CONTAINER FLUID -->
    <div class="modal fade stick-up ng-scope" id="EditModel" tabindex="-1" role="dialog" ng-submit="save()" aria-labelledby="EditModel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header clearfix ">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i> </button>
                    <h4 class="p-b-5"><span class="semi-bold">Edit</span> Option</h4> </div>
                <div class="modal-body">
                    <form role="form" class="ng-pristine ng-valid" ui-keypress="{13:'save()'}" ng-submit="save()">
                        <div class="row">
                            <div class="col-sm-12">
                                <div pg-form-group="" class="form-group form-group-default">
                                    <label>English</label>
                                    <input id="editEnglishOption" type="text" ng-model="item.option.english" class="form-control" placeholder="Option in English"> </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div pg-form-group="" class="form-group form-group-default">
                                    <label>Arabic</label>
                                    <input id="editArabicOption" type="text" ng-model="item.option.arabic" class="form-control" placeholder="Option in Arabic"> </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="add-app" type="button" class="btn btn-primary btn-cons" ng-click="save()">Save</button>
                    <button type="button" data-dismiss="modal" class="btn btn-cons" ng-click="revert()">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>