<style>
    .table.table-hover tbody tr:hover td {
        background: #f9f9f9 !important;
    }
</style>
<div ng-controller="ArticlesListCtrl">
    <!-- START JUMBOTRON -->
    <div class="jumbotron" data-pages="parallax">
        <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
            <div class="inner">
                <!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                    <li> <a href="">Stories</a> </li>
                    <li><a href="" class="active">All Stories</a> </li>
                </ul>
                <!-- END BREADCRUMB -->
                <div class="row"> </div>
            </div>
        </div>
    </div>
    <!-- END JUMBOTRON -->
    <!-- END CONTAINER FLUID -->
    <!-- START CONTAINER FLUID -->
    <div class="container-fluid container-fixed-lg">
        <!-- START PANEL -->
        <div class="panel panel-transparent">
            <div class="panel-heading">
                <div class="panel-title">All Stories</div>
                <div class="pull-right">
                    <div class="row">
                        <div class="col-md-4 col-xs-12"><input type="text" id="search" class="form-control"
                                                               placeholder="Search..." ng-model="search"></div>
                        <div class="col-md-6 col-xs-12">
                            <div class="btn-group" opt-kind="" ok-key="filter">
                                <button type="button" class="btn btn-default active" ng-click="status = {}">All</button>
                                <button type="button" class="btn btn-default" ng-click="status = {status:'PUBLISHED'}">
                                    Published
                                </button>
                                <button type="button" class="btn btn-default" ng-click="status = {status:'PENDING'}">
                                    Pending
                                </button>
                                <button type="button" class="btn btn-default" ng-click="status = {status:'SUSPENDED'}">
                                    Suspended
                                </button>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-12">
                            <button id="show-modal" class="btn btn-primary btn-cons" ng-click="redirect()"><i class="fa fa-plus"></i> Add Story</button>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover" id="basicTable">
                        <thead>
                            <tr>
                                <!-- NOTE * : Inline Style Width For Table Cell is Required as it may differ from user to user 
                                        Comman Practice Followed
                                        -->
                                <th>Image</th>
                                <th>Title</th>
                                <th>Body</th>
                                <th>Language</th>
                                <th>Create</th>
                                <th>Last Update</th>
                                <th>Status</th>
                                <th style="width:150px">OP</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key, item) in list | filter:search | filter:status">
                              <!--| filter:q | startFrom:currentPage*1 | limitTo:1-->
                               <!--{{currentPage+1}}/{{numberOfPages()}}
                               <button ng-disabled="currentPage >= getData().length/1 - 1" ng-click="currentPage=currentPage+1">Next</button>-->
                               
                                <td class="v-align-middle">
                                    <div style="background: url('{{ item.cover.filename | image }}') center;background-size: cover;border-radius: 50%;height: 60px;width: 60px;"></div>
                                </td>
                                <td class="v-align-middle ">
                                    <p>{{item.title}}</p>
                                </td>
                                <td class="v-align-middle ">
                                    <p ng-bind-html="item.body | limitTo: 100 | rawHtml"></p>
                                </td>                                
                                <td class="v-align-middle">
                                    <p>{{item.language.name}}</p>
                                </td>
                                <td class="v-align-middle">
                                    <p>{{item.createdAt | moment:'fromNow'}}</p>
                                </td>
                                <td class="v-align-middle">
                                    <p>{{item.updatedAt | moment:'fromNow'}}</p>
                                </td>
                                <td class="v-align-middle">
                                    <button style="background:{{item.status | color}};min-height: 35px;" class="btn"></button>
                                </td>
                                <td class="v-align-middle">
                                    <button ng-click="editModal(item, key)" class="btn"><i class="fa fa-pencil"></i></button>
                                    <button class="btn" ng-click="alert(item)"><i class="pg-trash"></i></button>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END PANEL -->
    </div>
    <!-- END CONTAINER FLUID -->
    <div class="modal fade stick-up ng-scope" id="addNewAppModal" tabindex="-1" role="dialog" aria-labelledby="addNewAppModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header clearfix ">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i> </button>
                    <h4 class="p-b-5"><span class="semi-bold">New</span> Content</h4> </div>
                <div class="panel-body">



                </div>
                <div class="modal-body">
                    <form role="form" class="ng-pristine ng-valid" name="addItem" ui-keypress="{13:'add()'}">
                        <div class="row">
                            <div class="col-sm-12">


                                <ui-select ng-model="new.language" theme="bootstrap" id="list">
                                    <ui-select-match class="ui-select-match" placeholder="Language">{{ $select.selected.name }}
                                    </ui-select-match>
                                    <ui-select-choices class="ui-select-choices" repeat="item in languages | filter:$select.search" value="{{$select.selected}}">
                                        {{item.name}}
                                    </ui-select-choices>
                                </ui-select>

                                <br>
                            </div>
                        </div>
                        <div class="form-group form-group-default required">
                            <label>Title</label>
                            <input type="text" name="title" class="form-control" ng-model="new.title" required>
                        </div>
                        <label class="error" for="title" ng-show="error.title" ng-bind="error.title">This field is required.</label>

                        <br>

                        <div pg-form-group class="form-group required ">
                            <div class="summernote-wrapper">
                                <!--.note-editor .note-editable-->
                                <div id="summernote" config="summernote_options" on-focus="focus(evt)" on-blur="blur(evt)" ng-model="new.body" summernote>Hello Summernote</div>
                            </div>
                        </div>
                        <label class="error" for="title" ng-show="error.body" ng-bind="error.body">This field is required.</label>

                    </form>
                </div>
                <div class="modal-footer">
                    <button id="add-app" type="button" class="btn btn-primary  btn-cons" ng-click="add()">Add</button>
                    <button type="button" data-dismiss="modal" class="btn btn-cons">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
        <!-- END CONTAINER FLUID -->
    <div class="modal fade stick-up ng-scope" id="EditModel" tabindex="-1" role="dialog" ng-submit="save()" aria-labelledby="EditModel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header clearfix ">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i> </button>
                    <h4 class="p-b-5"><span class="semi-bold">Edit</span> Content</h4> </div>
                <div class="modal-body">
                    <form role="form" class="ng-pristine ng-valid" ui-keypress="{13:'save()'}" ng-submit="save()">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group form-group-default required">
                                    <label>Title</label>
                                    <input type="text" name="title" class="form-control" ng-model="item.title" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div pg-form-group
                                     class="form-group form-group-default form-group-default-select required">
                                    <label>Status</label>
                                    <ui-select ng-model="item.status" theme="bootstrap">
                                        <ui-select-match class="ui-select-match" placeholder="User Status">
                                           {{$select.selected }}
                                        </ui-select-match>
                                        <ui-select-choices class="ui-select-choices"
                                                           repeat="item in statusList | filter:$select.search"
                                                           value="{{$select.selected}}">
                                            {{item}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div pg-form-group
                                     class="form-group form-group-default form-group-default-select required">
                                    <label>Language</label>
                                    <ui-select ng-model="item.language" theme="bootstrap">
                                        <ui-select-match class="ui-select-match" placeholder="User Language">
                                           {{ $select.selected.name }}
                                        </ui-select-match>
                                        <ui-select-choices class="ui-select-choices"
                                                           repeat="item in languages | filter:$select.search"
                                                           value="{{$select.selected.value}}">
                                            {{item.name}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div pg-form-group class="form-group required ">
                                    <div class="summernote-wrapper">
                                        <!--.note-editor .note-editable-->
                                        <div id="summernote" config="summernote_options" on-focus="focus(evt)" on-blur="blur(evt)" ng-model="item.body" summernote>Hello Summernote</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group form-group-default required">
                                    <div class="checkbox check-success">
                                        <input type="checkbox"  value="1" id="checkbox1" ng-model="item.editorPick">
                                        <label for="checkbox1">Editor Pick</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div pg-form-group="" class="form-group form-group-default">
                                    <label>COVER IMAGE</label>
                                    <img style="width:100%;" ng-model="item.icon.filename"
                                         ng-src="{{ item.cover.filename | image }}"/>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group form-group-default required ">
                                    <label>CHANGE COVER IMAGE</label>
                                    <div class="dropzone cover-dropzone" method="post" enctype="multipart/form-data"
                                         ng-dropzone dropzone="cover" dropzone-config="dropzoneOneFileConfig"
                                         event-handlers="{ 'success': dzSuccess }">
                                        <input name="file" type="file"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="add-app" type="button" class="btn btn-primary btn-cons" ng-click="save()">Save</button>
                    <button type="button" data-dismiss="modal" class="btn btn-cons" ng-click="revert()">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content-wrapper">
                <div class="modal-content">
                    <div class="modal-header clearfix text-left">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                        </button>
                        <h5>Delete Warning</h5>
                    </div>
                    <div class="modal-body">
                        <p class="no-margin">This will delete the item permanently.<br> Are you sure delete this item?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-cons  pull-left inline" ng-click="delete()">Yes</button>
                        <button type="button" class="btn btn-default btn-cons no-margin pull-left inline" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
</div>
